{% extends 'base.html.twig' %}

{% block title %}My Quizz - {{ template_name }} {% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app')}}
	{{ encore_entry_link_tags('admin')}}
{% endblock %}

{% block body %}
    <h1 class="adminPage">Create new User</h1>
    <a class="createSize float-right" href="{{ path('admin_users') }}">Back to Users</a>    
	<div class="usersCreate">
		{{ form_start(form) }}
		    {{ form_widget(form) }}
		    <button class="btn btn-success btn-block">{{ button_label|default('Create') }}</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
