{% extends 'base.html.twig' %}

{% block title %}MyQuizz - {{ template_name }} {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('quizz') }}
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Catégorie</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for quizz in quizzs %}
                <tr class="table-primary">
                    <td><a class="linkColor" href="{{ path('quizz_show', { id: quizz.id })}}"> {{ quizz.title }} </a></td>
                    <td>{{ quizz.description }}</td>
                    <td>
                        <a class="linkColor" href="{{ path('quizz_show', { id: quizz.id })}}">
                            <img class="imgSize" src="{{ quizz.image }}" alt="Quizz_Image">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="paddingBottom"></div>
{% endblock %}
